body{
  background-color: #f4f7fc !important;
}

@font-face {
  font-family: "defago-noto-sans-lao";
  src: url("/fonts/defago-noto-sans-lao.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "defago-noto-sans-lao" !important;
}